# Ignore volatile UI-related state
.obsidian/workspace.json
.obsidian/app.json

# Ignore plugins (except their data)
.obsidian/plugins/*
!.obsidian/plugins/
!.obsidian/plugins/*/
.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json

# Ignore system and editor files
.vscode/
.idea/
.DS_Store
Thumbs.db
